[mysqld]
general_log = 0
general_log_file = /var/lib/mysql/general.log
innodb_buffer_pool_size = 128MB
innodb_buffer_pool_instances = 1
innodb_log_file_size = 8M
innodb_flush_log_at_trx_commit = 0
max_binlog_size = 100M
expire_logs_days = 1
